body {
    font-family: 'Readex Pro', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left_side {
    background-color: #464646;
    color: white;

    width: 25%;
    /*height: 100%;*/

    box-shadow: 1px 0 5px #9D9D9D;
    z-index: 2;

    display: flex;
    flex-flow: column;
}

.right_side {
    width: 75%;
    /*height: 100vh;*/
}

#data {
    width: 100%;
    display: none;
}

#description {
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
}

#description h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin: 40px 0;
}

#plot {
    width: 80%;
    height: 50%;
    background-color: #E7E7E7;
    margin: 0 auto;
}

.logo_header {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 10px 0 0 0;
    margin: 0;

    width: 50%;
    display: inline-block;
}

.logo_header_active {
    text-shadow: 0 0 10px #CECECE;
}

.logo_a {
    color: white;
    text-decoration: none;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px 0 20px;
}

#name_header {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin: 40px 0;
}

.info {
    background-color: white;
    color: black;
    width: calc(100% - 20px);
    margin: 20px 0 0;
    padding: 0 10px 10px;
    font-size: 18px;
    font-weight: 300;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;

    position: relative;
    top: -10px;
}

.arrow_left {
    left: calc(25% - 15px);
}

.arrow_right {
    left: calc(75% - 5px);
}

#all_names {
    padding: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: scroll;
}

.name {
    padding: 0;
    margin: 7px;
    cursor: pointer;
    font-weight: 200;
    font-size: 20px;
}

#name_input {
    padding: 10px 10px 10px 40px;
    margin: 20px 20px 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 8px;
    background-repeat: no-repeat;
}

#name_input:focus {
    /*border: 2px solid #464646;*/
}

#params {
    /*width: 80%;*/
    margin: 0 auto;

    display: table;
    width: auto;
    background-color: #eee;
    /*border-spacing: 5px; !* cellspacing:poor IE support for  this *!*/
}

.div-table-row:nth-child(even) {
        background-color: #ccc;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    min-width: 150px;

    padding: 5px;
}

.div-table-col:nth-child(2) {
    font-weight: 200;
}

.params_list {
    margin: 0;
    padding: 0;
    list-style: decimal inside none;
}

#images {
    margin-top: 20px;
}

#images img {
    width: 80%;
    margin: 0 auto;
    display: table;
}
